.header {

	.header-logo {
		display:block;
		@include ir;
		background: url(../img/logo.jpg) no-repeat;
		height: 149px;
		width: 284px;
		display: block;
		margin: 0 auto;
	}
}


/* Navigation Styles */

.main-nav {
	margin:0;
	border-radius: 0;
	box-shadow: none;
	border: none;
	background: #000;
	z-index: 999999;
	width: 100%;
	top: 0;
	font-family: $raleway;

	@media (min-width: 768px) {
		.navbar-nav {
			display: inline-block;
			float: none;
			vertical-align: top;
		}

		.navbar-collapse {
			text-align: center;
		}
	}

}

.true-nav {
	margin: 0px -15px;

	li {

		a {
			text-align: center;
			color: $white!important;
			text-shadow: none;
			background: $black!important;
			margin: 0px 30px;
			// @include font-size(1.3);
		}

	}
	
}

.affix {
	border-bottom: 4px solid $fire-red;
}

.new-toggle {
	float: none;
	display: block;
	margin-right: auto;
	margin-left: auto;
	border: none;


	&:hover,
	&:focus {
		background:none!important;
		border: none!important;
	}

	.icon-bar {
		background-color: $white!important;
	}

	@media (min-width: $small-screen) {
		display: none;
	}
}


.navbar-collapse {
	border:none;
}