h1,h2,h3,h4,h5 {
	text-align: center;
	font-family: $montserrat;
}

a {
	color:$mustard;

	&:hover {
		text-decoration: none;
		color: $fire-red;
	}
}


/* Extra columns for 5 columns */

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
	position: relative;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
}

.col-xs-15 {
	width: 20%;
	float: left;
}
@media (min-width: 768px) {
	.col-sm-15 {
		width: 20%;
		float: left;
	}
}
@media (min-width: 992px) {
	.col-md-15 {
		width: 20%;
		float: left;
	}
}
@media (min-width: 1200px) {
	.col-lg-15 {
		width: 20%;
		float: left;
	}
}

/* Main layout */

.page-id-29 {
	font-family:$ptsans;
}

.page-container {
	width: 100%;
	border-top: solid 4px $fire-red;
}

.no-row{
	padding:0;
}

#hero-slideshow .item img{
	display: block;
	width: 100%;
	height: auto;
}

.main-content {
	padding:0;
}

.owl-controls {
	display: none;
}

.textoverlay {
	margin:0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	z-index:9999;

	h1 {
		background: rgba($black, 0.7);
		padding: 10px;
		color: white;
		font-size: 4.5vw;
	}
}

/* Sections */

.module { 
	min-height:50px; 
	position:relative;
	color: $white;
	padding: 35px 0;

	@media (min-width: $small-screen) {
		padding: 69px 0;
	}

	@media (min-width: 1200px) {
		padding: 135px 0;
	}


	ul {
		padding-left: 20px; 
		list-style-type: square;
		line-height: 1.5em;
	}

	p {
		text-align: justify;
		font-size: 18px;
		font-size: 1.8rem;
	}

	h1 {
		font-size: 41.5px;
		font-size: 4.15rem;
	}

}

.module.one{}
.module.two{}
.module.three{}
.module.four{

	p {
		text-align: center;
	}
}




#about-oys {
	background: url(../img/oys-hq.jpg) no-repeat center;
	background-attachment: fixed;
	background-size: cover;
}

#the-team {
	background: url(../img/football-together-bg.jpg) no-repeat center;
	// background-attachment: fixed;
	background-size: cover;
}


/* Section Content Areas */

.right, .left {

	h3 {
		text-align: left;
	}

}

.outer-width {
	overflow: hidden;

	.service {
		display: table;
		margin: 40px 0;

		img {
			width: 100%;
		}
	}

}

@media (min-width: $small-screen) {
	.vcenter {
		display: table-cell;
		vertical-align: middle;
		float: none;
	}
}


.team-profile{
	background: $white;
	color: $characoal;
	margin-bottom: 30px;

	.team-photo img {
		width: 100%;
	}

	.team-profile-text {
		padding:10px;

		span {
			color: $coldblue;
		}
	}
}


p.address-details {
	margin: 18px 0;
}










