$helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;

$mobile-screen : 320px; //20em
$xsmall-screen: 480px; //30em
$small-screen: 768px; //46.8em
$medium-screen: 992px; //50em
$large-screen: 1200px; //73em
