@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:400,700|Open+Sans:400,600,700|Raleway:400,600,700|Roboto:400,500,700');

$helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$opensans: 'Open Sans', sans-serif;
$lato: 'Lato', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$raleway: 'Raleway', sans-serif;
$roboto: 'Roboto', sans-serif;

$mobile-screen : 320px; //20em
$xsmall-screen: 480px; //30em
$small-screen: 768px; //46.8em
$medium-screen: 992px; //50em
$large-screen: 1200px; //73em
